In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv('customer.csv')

In [48]:
df.sample(6)

    age  gender   review education purchased
31   22  Female     Poor    School       Yes
45   61    Male     Poor        PG       Yes
43   27    Male     Poor        PG        No
5    31  Female  Average    School       Yes
19   97    Male     Poor        PG       Yes
48   39  Female     Good        UG       Yes

In [49]:
df = df.iloc[:,2:]

In [50]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('purchased', axis=1),
                                                    df['purchased'],
                                                    test_size=0.3,
                                                    random_state=0)

X_train.shape, X_test.shape

((35, 2), (15, 2))

In [52]:
from sklearn.preprocessing import OrdinalEncoder

In [53]:
X_train

     review education
7      Poor    School
14     Poor        PG
45     Poor        PG
48     Good        UG
29  Average        UG
15     Poor        UG
30  Average        UG
32  Average        UG
16     Poor        UG
42     Good        PG
20  Average    School
43     Poor        PG
8   Average        UG
13  Average    School
25     Good    School
5   Average    School
17     Poor        UG
40     Good    School
49     Good        UG
1      Poor        UG
12     Poor    School
37  Average        PG
24  Average        PG
6      Good    School
23     Good    School
36     Good        UG
21  Average        PG
19     Poor        PG
9      Good        UG
39     Poor        PG
46     Poor        PG
3      Good        PG
0   Average    School
47     Good        PG
44  Average        UG

In [54]:
X_train_prev=X_train

In [55]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [56]:

oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [57]:
X_train = oe.transform(X_train)

In [58]:
X_train

array([[0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])

In [60]:
X_train_df = pd.DataFrame(X_train, columns=X_train_prev.columns)

In [61]:
X_train_df

    review  education
0      0.0        0.0
1      0.0        2.0
2      0.0        2.0
3      2.0        1.0
4      1.0        1.0
5      0.0        1.0
6      1.0        1.0
7      1.0        1.0
8      0.0        1.0
9      2.0        2.0
10     1.0        0.0
11     0.0        2.0
12     1.0        1.0
13     1.0        0.0
14     2.0        0.0
15     1.0        0.0
16     0.0        1.0
17     2.0        0.0
18     2.0        1.0
19     0.0        1.0
20     0.0        0.0
21     1.0        2.0
22     1.0        2.0
23     2.0        0.0
24     2.0        0.0
25     2.0        1.0
26     1.0        2.0
27     0.0        2.0
28     2.0        1.0
29     0.0        2.0
30     0.0        2.0
31     2.0        2.0
32     1.0        0.0
33     2.0        2.0
34     1.0        1.0

In [62]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [63]:
from sklearn.preprocessing import LabelEncoder

In [64]:
le = LabelEncoder()

In [65]:
le.fit(y_train)

LabelEncoder()

In [66]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [67]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [68]:
y_train

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])